run = ["python3", "main.py"]
language = "python3"
entrypoint = "main.py"
hidden = ["venv", ".config", "**/__pycache__", "**/.mypy_cache", "**/*.pyc"]

audio = true
modules = ["python-3.8"]

[nix]
channel = "stable-21_11"

[env]
